# Terraform directories
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Sensitive vars
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS/editor noise
.DS_Store
Thumbs.db
.idea/
.vscode/
